body {
	color: rgb(106, 106, 106); font-family: 宋体; font-size: 12px;
}
td {
	color: rgb(106, 106, 106); font-family: 宋体; font-size: 12px;
}
th {
	color: rgb(106, 106, 106); font-family: 宋体; font-size: 12px;
}
body {
	margin: 0px; background-image: none; background-repeat: repeat-x;
}
a {
	color: rgb(106, 106, 106); font-size: 12px;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	color: rgb(255, 153, 0); text-decoration: underline;
}
a:active {
	text-decoration: none;
}
.white14 {
	text-align: center; color: rgb(255, 255, 255); font-family: "宋体"; font-size: 14px; font-weight: bold; text-decoration: none;
}
.hangju {
	line-height: 23px; text-decoration: none;
}
.huifont {
	color: rgb(102, 102, 102); font-family: "宋体"; font-size: 12px; font-weight: bold; text-decoration: none;
}
.titlefont {
	color: rgb(70, 71, 73); letter-spacing: 2px; font-family: "宋体"; font-size: 14px; font-weight: bold; text-decoration: none;
}
.newstitle {
	text-align: center; color: rgb(85, 85, 85); line-height: 65px; font-family: "宋体"; font-size: 26px; font-weight: bold; text-decoration: none;
}
.leftbg {
	background-image: url("../images/banner_bg.jpg"); background-repeat: repeat-x;
}
.xuhao {
	color: rgb(139, 166, 233); font-family: "新宋体"; font-size: 12px; font-style: normal; font-weight: bolder;
}
.redfont {
	color: rgb(204, 80, 78); font-family: "宋体"; font-size: 12px;
}
a.dh_14px:link {
	color: rgb(255, 255, 255); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; text-decoration: none;
}
a.dh_14px:visited {
	color: rgb(255, 255, 255); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; text-decoration: none;
}
a.dh_14px:hover {
	color: rgb(255, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; text-decoration: none;
}
a.dh_14px:active {
	color: rgb(255, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; text-decoration: none;
}
.dh_bg {
	background-image: url("../images/banner_bg.jpg"); background-repeat: repeat-x;
}
a.left_14px_555555:link {
	color: rgb(85, 85, 85); font-family: Arial, Helvetica, sans-serif; font-size: 14px; text-decoration: none;
}
a.left_14px_555555:visited {
	color: rgb(85, 85, 85); font-family: Arial, Helvetica, sans-serif; font-size: 14px; text-decoration: none;
}
a.left_14px_555555:hover {
	color: rgb(153, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; text-decoration: none;
}
a.left_14px_555555:active {
	color: rgb(153, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; text-decoration: none;
}
