#bcid {
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 44px;
    text-align: center;
}

.tip {
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0px -1px #103E5C;
}

footer {
    width: 100%;
    height: 44px;
    position: absolute;
    bottom: 0px;
    line-height: 44px;
    text-align: center;
    color: #FFF;
}

.fbt {
    width: 50%;
    height: 100%;
    background-color: #FFCC33;
    float: left;
}

.fbt:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.5);
}
 